<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
</head>
<body>

    <%- include('./partials/nav') %>

    <h1> <%= name %></h1>
   <% menuItems.forEach(items => { %>
      <h2> <%= items.name %> </h2>
        <ul>
          <p> ID: <%= items.id %>     </p>
          <p> Price: <%= items.price %>  </p>
          <p> Ratings: <%= items.rating %> </p>
          <p> Details: <%= items.details %></p>
        </ul>
   <% }) %>
</body>
</html>
