<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>

    <%- include('./partials/nav') %>

  <h1><%= restaurant.name %></h1>
    <% if (restaurant.isOpen) { %>
    
        <h3>Yes we are open!</h3>
    
     <% } else { %>
        <h3>Sorry, we are closed.</h3>
    <% } %>


    <h4>We are located at <%= restaurant.address %></h4>
    <h4>Contact number: <%= restaurant.phone %></h4>
</body>
</html>
